.comments {
   padding-top: 2rem;
   background-color: brown;
   border-radius: 5px;
   margin-bottom: 1rem;
}

.MuiAccordion-rounded:last-child {
   color: white;
   background-color: #333333 !important;
   margin-bottom: 1rem;
}
.MuiAccordion-rounded:last-child {
   margin-bottom: 1rem;
}
.MuiAccordion-root.Mui-expanded:last-child {
   margin-bottom: 1rem !important;
}
