.MuiAppBar-colorPrimary {
   color: white;
}
.toolbar {
   display: flex;
   justify-content: space-between;
}
.header-comments {
   color: white;
   margin-bottom: 2rem !important;
}
.MuiPaper-outlined {
   margin-bottom: 1rem;
}
